.real-time-alert {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; */
}

.real-time-alert.safe {
  background-color: #d4edda;
  color: #215924;
}
