/*Global variables*/

:root {
  --progress-bar-width: 200px;
  --progress-bar-height: 200px;
  --font-size: 2rem;
  --bg: #ffffff;
  --color: #111111;
  --grayColor: #7e7e81;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --progress-bar-width: 200px;
    --progress-bar-height: 200px;
    --font-size: 2rem;
    --color: #ffffff;
    --bg: #111111;
    --grayColor: #fefefe;
  }
}

body {
  background-color: var(--bg);
  color: var(--color);
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

main {
  min-width: 348px;
  width: 348px;
  max-width: 348px;
  background: transparent;
  border-radius: 10px;
  padding: 10px;
}
/* End of global variables */

/* scroll bar redesign */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(107, 43, 226, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(107, 43, 226, 0.5);
  outline: 1px solid rgba(107, 43, 226, 1);
  border-radius: 5px;
}
/* end of scroll bar redesign */

/* switch styles */
.switch-btn {
  display: flex;
  align-items: center;
  position: relative;
  flex-flow: row nowrap;
  border: none;
  box-sizing: border-box;
}
.switch-btn:hover {
  cursor: pointer;
}

.switch-btn-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateX(0%); /*fix initial style bug*/
}
/*End of switch styles*/

/*Font awesome*/
.fa-shield-virus {
  font-size: 3rem;
}

.extension-container {
  width: 300px;
}

/*nav styles*/
nav {
  border-bottom: 1px solid #7e7e81;
  padding-bottom: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 12px;
}
.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  /* gap: 4rem; */
  align-items: center;
}

.current-url {
  margin: 0 auto;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-toggle {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.extension-logo {
  width: 150px;
  height: auto;
  object-fit: fill;
}

.nav-security {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.2rem;
  justify-content: center;
}

.nav-security-text {
  font-weight: bold;
  color: var(--grayColor);
  font-style: italic;
  text-align: center;
}

/*End of nav styles*/

/*url Data Table*/
.url-table-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  margin-top: 3rem;
  text-align: center;
}

.fa-shield-virus {
  text-align: center;
}

.no-url-txt {
  text-align: center;
}
.url-result-contents {
  width: 100%;
}
.url-loader-container {
  margin-top: 2rem;
}

table {
  width: 100%;
}

table,
tr,
td {
  font-size: 1.1rem;
  border: 1px solid var(--color);
  border-collapse: collapse;
}

td {
  padding: 0.5rem;
}

.table-header {
  font-weight: bold;
}

.table-status {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: none;
}
/*End Data Table*/

/*input field*/

.url-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(226, 218, 240);
  background: linear-gradient(
    90deg,
    rgba(226, 218, 240, 1) 76%,
    rgba(254, 254, 254, 1) 91%
  );
  width: 100%;
  border-radius: 10px;
  margin: 1rem 0rem;
}

.url-label-input {
  width: 90%;
  border-radius: inherit;
}

.url-input {
  background: rgb(226, 218, 240);
  font-size: 1.2rem;
  padding: 1rem;
  width: 85%;
  border: none;
  border-radius: inherit;
}
.url-input:focus,
.url-input:hover,
.url-input:active {
  border: unset;
}
.url-submit-label {
  margin-right: 0.3rem;
}
.url-submit-label .url-submit-btn {
  box-shadow: 3px 3px 15px rgb(157, 118, 231);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fefefe;
  background: rgb(107, 43, 226);
  border: none;
  border-radius: 5px;
  padding: 0.7rem 0.5rem;
  cursor: pointer;
}

.url-submit-label .url-submit-btn:disabled {
  cursor: not-allowed;
}
.url-result-meaning-container {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.url-result-meaning-txt {
  text-align: center;
  font-style: italic;
}
.url-spinner {
  animation-name: spinner;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

:root {
  --progress-bar-width: 200px;
  --progress-bar-height: 200px;
  --font-size: 2rem;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 600px) {
  .url-form {
    width: 100%;
  }
}
/*End field*/

/*circular progress bar styles*/
.circular-progress {
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.inner-circle {
  position: absolute;
  width: calc(var(--progress-bar-width) - 30px);
  height: calc(var(--progress-bar-height) - 30px);
  border-radius: 50%;
  background-color: lightgrey;
}

.percentage {
  position: relative;
  font-size: var(--font-size);
  color: var(--color);
}

@media screen and (max-width: 800px) {
  :root {
    --progress-bar-width: 150px;
    --progress-bar-height: 150px;
    --font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --progress-bar-width: 120px;
    --progress-bar-height: 120px;
    --font-size: 1rem;
  }
}
/*End of circular progress bar styles*/

/* css loader */
.loader {
  display: block;
  width: 38px;
  height: 38px;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 38em;
  height: 38em;
  background-image: radial-gradient(
      circle 10px,
      rgb(107, 43, 226) 100%,
      transparent 0
    ),
    radial-gradient(circle 10px, rgb(107, 43, 226) 100%, transparent 0),
    radial-gradient(circle 10px, rgb(107, 43, 226) 100%, transparent 0),
    radial-gradient(circle 10px, rgb(107, 43, 226) 100%, transparent 0),
    radial-gradient(circle 10px, rgb(107, 43, 226) 100%, transparent 0),
    radial-gradient(circle 10px, rgb(107, 43, 226) 100%, transparent 0),
    radial-gradient(circle 10px, rgb(107, 43, 226) 100%, transparent 0),
    radial-gradient(circle 10px, rgb(107, 43, 226) 100%, transparent 0);
  background-position: 0em -13em, 0em 13em, 13em 0em, -13em 0em, 8em -8em,
    -8em -8em, 8em 8em, -8em 8em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}
.loader::after {
  font-size: 1px;
  background: rgb(107, 43, 226);
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0%,
  100% {
    font-size: 0.75px;
  }
  50% {
    font-size: 1.5px;
  }
}
@keyframes blast {
  0%,
  40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
  100% {
    font-size: 6px;
    opacity: 0;
  }
}

/*End of css loader */
